@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Scholarships</h1>
    <p><a href=@Url.Page("./Scholarships")>View available scholarships here.</a></p>
</div>
